<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample Login</title>
     <link rel="stylesheet" href="/static/home.css">

    <link  rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script async  src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script async src="/static/home.js"></script>

</head>
<body>
  <div id="fb-root"></div>

<aside class="profile-card">
      <div class="part">
        <div class="profile-bio">

          <p><b>     Step 1 </b></p>
          <p> Click button below to signup & create user in backend.</p>
             <a id="btn-facebook-signin" title="Learn More" class="sign-up effect effect-1"> Sign Up</a>
        </div>
  </div>
  <div class="part">
    <header>
    <!-- here’s the avatar -->
    <a target="_blank" href="#">
      <img id="photo" src="//placeholdit.imgix.net/~text?txtsize=33&w=350&h=350" class="hoverZoomLink">
    </a>

    <!-- the username -->
        <h1><p class="text-name">-</p></h1>

    <!-- and role or location -->
    <h4><p class="text-email">-</p></h4>

  </header>
  </div>

    <div class="part">
      <div class="profile-bio">

    <p><b>
     Step 2
      </b></p>
        <p> Click button below to make an authenticated call that gets user details.</p>
         <a id="btn-fetch-profile" title="Learn More" class="sign-up effect effect-1"> Fetch Details</a>
  </div>
  </div>


  <!-- bit of a bio; who are you? -->

  <!-- bit of a bio; who are you? -->


</aside>



</body>
</html>